section{width: 50%;
    height: 47.5vh;


border: solid 2px; 
background-color: rgb(228, 73, 17);
position: relative;
left: 20%;
margin-top: 10px;
margin-bottom: 10px;
padding: 1px;}
.button{background-color: rgb(28, 28, 239);
cursor: pointer;
width: 45%;
position: relative;
left: 25%;}
p{
color: white;}
.g1{width: 45%;
}
.group{position: relative;
left: 25%;}
h1{color: white;
text-align: center;}
